{namespace fp=Blueways\BwFocuspointImages\ViewHelpers}

<f:layout name="Default" />

<f:section name="Main">

    <f:asset.script
        identifier="tx_bwfocuspointimages_focuspoint"
        src="EXT:bw_focuspoint_images/Resources/Public/JavaScript/FocuspointImage.js" />
    <f:asset.css
        identifier="tx_bwfocuspointimages_focuspoint"
        href="EXT:bw_focuspoint_images/Resources/Public/Css/FocuspointImage.css" />

    <f:for each="{images}" as="image" key="key">

        <div class="focuspoint">

            <f:image image="{image}" maxWidth="1600" maxHeight="1200" />

            <fp:focuspointSvg
                fileReference="{image}"
                class="focuspoint__svg"
                outlineColor="currentColor"
                outlineWidth="2"
            />

            <f:for each="{points.{key}}" as="point" iteration="i">
                <div class="focuspoint__description" id="focuspoint-{image.uid}-{i.cycle}-description">
                    <h3>{point.name}</h3>
                    <p>
                        <f:format.nl2br>{point.description}</f:format.nl2br>
                    </p>
                </div>
            </f:for>

        </div>

    </f:for>

</f:section>
